@font-face {
    font-family: "anticva";
    font-style: normal;
    font-weight: 400;
    src: url("/resources/anticva.ttf") format("truetype");
}

.page{
    background-color: rgb(32, 24, 24);
    font-size: 20px;
}

img{
    width: 700px;
    border-radius: 30px;
}

.page-body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    margin: 0px;
}

.heading{
    background: linear-gradient(rgba(141, 118, 118, 0.5), rgba(8, 8, 8, 0.6)), url('/resources/medved.jpg');
    background-size: cover;
    background-position: 50% 70%;
    padding: 25px;
    padding-left: 150px;
    display: flex;
    font-family: "anticva", serif;
}

.heading-h1{
    text-align: left;
    font-size: 60px;
}

.heading-logo{
    border-radius: 900px;
    width: 90px;
    height: 90px;
    margin-top: 10px;
}

.heading-quote{
    display: flex;
}

.heading-block{
    text-align: center;
    margin: auto;
    margin-left: 20px;
    font-style: italic;
    font-size: 17px;
}

.heading-flex{
    display: flex;
}

.heading-p-div{
    width: 500px;
    line-height: 1.5;
}

.heading-p{
    margin-bottom: 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.heading::before{
    opacity: 0.5;
}

h2, h3{
    color: rgb(163, 216, 216);
    font-size: 60px;
}

td{
    font-size: 16px;
}

address{
    padding: 10px;
    font-size: 14px;
}

.program{
    display: flex;
}

.program-img{
    margin-left: 0px;
}

.content{
    display: flex;
}

.content-left{
    width: 90%;
    padding: 20px;
    padding-left: 60px;
}

.content-right{
    width: 30%;
    background-color: rgb(85, 91, 97);
    margin-top: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
}

footer{
    background-color: aliceblue;
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 20px;
}

.img-feedback{
    height: 170px;
    width: 170px;
    border-radius: 900px;
    object-fit: cover;
}

.feedback{
    display: flex;
}

.img-another{
    width: 700px;
    object-fit: cover;
}

.img-another:hover{
    filter: brightness(50%);
}

.whom-img-group{
    display: flex;
}

.whom-img{
    width: 15em;
    margin-right: 25px;
}

.img-another{
    width: 12em;
}

.icon-telegram{
    width: 30px;
}
