@font-face {
    font-family: "anticva";
    font-style: normal;
    font-weight: 400;
    src: url("/resources/anticva.ttf") format("truetype");
}

.page{
    background-color: rgb(32, 24, 24);
    font-size: 22px;
}

.page-body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    margin: 0px;
    line-height: 1.4;
}

h2{
    font-size: 46px;
    margin-top: 0;
    margin-bottom: 30px;
}

h3{
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 20px;
}

address{
    padding: 20px 280px 20px 40px;
    font-size: 14px;
}

table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 10px;
}

th, td{
    width: 300px;
    padding: 10px 35px;
    text-align: left;
}

td{
    font-size: 20px;
}

img{
    border-radius: 30px;
    margin: 30px;
    margin-top: 0px;
}

a{
    color: black;
    text-decoration: none;
}

figcaption{
    text-align: right;
}

p:not(.p-content-right){
    margin-bottom: 30px;
    overflow-wrap: break-word;
}

a:hover{
    opacity: 0.5;
}

.nav-ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    align-items: center;
}

.nav-li{
    display: inline-block;
    text-align: center;
    min-width: 85px;
    padding: 20px;
    font-size: 22px;
    font-weight: 400;
}

.nav-li:first-child{
    margin-left: 130px;
}

.nav-li:not(:last-child){
    margin-right: 30px;
}

.heading{
    background: linear-gradient(rgba(141, 118, 118, 0.5), rgba(8, 8, 8, 0.6)), url('/resources/medved.jpg');
    background-size: cover;
    background-position: center;
    padding: 25px;
    padding-left: 150px;
    display: flex;
    font-family: "anticva", serif;
}

.heading-h1{
    text-align: left;
    font-size: 60px;
}

.heading-logo{
    border-radius: 900px;
    width: 90px;
    height: 90px;
    margin-top: 10px;
}

.heading-quote{
    display: flex;
}

.heading-block{
    text-align: center;
    margin: auto;
    margin-left: 20px;
    font-style: italic;
    font-size: 17px;
}

.heading-flex{
    display: flex;
}

.heading-p-div{
    width: 500px;
}

.heading-p{
    margin-bottom: 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.heading::before{
    opacity: 0.5;
}


.main-th, .main-td{
    width: 200px;
}

.program-div{
    display: grid;
    grid-template-columns: 440px 1fr;
    gap: 40px;
    margin-top: 30px;
}

.program-div > img{
    margin-left: 0px;
    width: 100%;
}

.program-text{
    display: block;
}

.content{
    display: grid;
    grid-template-columns: 1fr 360px;
}

.content-right{
    background-color: rgb(85, 91, 97);
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 40px 20px;
}

.content-right .img-another{
    max-width: 220px;
    height: auto;
    border-radius: 15px;
    margin: 10px 0;
}

.content-ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.content-right li:not(:last-child) {
    margin-bottom: 40px;
}

.tr-header{
    background-color: rgb(85, 91, 97);
    border-radius: 20px;
}

.tr-another{
    background-color: rgb(70, 65, 59);
    border-radius: 20px;
}

.tr-another td:first-child, .tr-header th:first-child{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.tr-another td:last-child, .tr-header th:last-child{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.services-right {
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 40px;
    margin-top: 30px;
}

#total-price{
    font-size: 25px;
    background-color: rgb(85, 91, 97);
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    margin: auto 0 0 0;
    padding: 10px;
}

.img-feedback{
    display: block;
    height: 170px;
    width: 170px;
    border-radius: 900px;
    object-fit: cover;
}

.reviews-title {
    margin: 0;
    margin-bottom: 30px;
}

.feedback{
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 40px;
    padding: 20px 80px 20px 40px;
    border-radius: 20px;
    background-color: rgb(70, 65, 59);
    border-radius: 20px;
    margin: 40px;
    margin-left: 0;
}

.feedback-form{
    padding: 20px 80px 20px 40px;
    border-radius: 20px;
    background-color: rgb(70, 65, 59);
    border-radius: 20px;
    margin: 0;
    margin-right: 40px;
}

.img-another{
    border-radius: 30px;
    object-fit: cover;
}

.content-ul li:hover{
    filter: brightness(50%);
}

.p-content-right{
    margin: 0;
}

.page-section {
    position: relative;
    padding: 40px 200px;
    padding-right: 80px;
    max-width: 100%;
}

.page-section-with-bg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(70, 65, 59);
    z-index: -1;
}

.whom-img-group{
    display: flex;
}

.whom-img{
    width: 11em;
    margin: 10px;
}

.img-another{
    width: 12em;
}

.icon-telegram{
    width: 40px;
    margin: 0 20px;
}

footer{
    background-color: rgb(85, 91, 97);
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 20px;
}

address{
    width: 50%;
    font-size: 40px;
    background-color: aliceblue;
    border-radius: 40px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: auto;
}
